<!DOCTYPE html>
<html>
  <head>
    <title>CRM - UC6</title>

  </head>

  <body>
<div class="container">
<header>
  <h1>CRM - MM</h1>
  <p>
    <%=link_to 'Home', root_path %>
  </p>
</header>
</div>
    <%= yield %>
  </body>
</html>
